<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <!--
        Log Levels Values
            ALL =>	-2147483648
            FINEST =>	10000
            VERBOSE =>	10000
            FINER =>	20000
            DEBUG =>	30000
            FINE =>	30000
            INFO =>	40000
            NOTICE =>	50000
            WARN =>	60000
            ERROR =>	70000
            SEVERE =>	80000
            CRITICAL =>	90000
            ALERT =>	100000
            FATAL =>	110000
            EMERGENCY =>	120000
            AUDIT =>	2000000000
            (CUSTOM) OFF =>	2147483647
	-->
    <level>
        <name value="AUDIT" />
        <value value="2000000000" />
    </level>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value=".\logger.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
    </appender>
    <root>
        <level value="ALL" />
        <appender-ref ref="FileAppender" />
    </root>
</log4net>